<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/homepage.css">
</head>
<body>
  <header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item" id="bill_icon">
                <i class="fa-regular fa-money-bill-1"></i>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/buyer/list' ? 'active' : '' %>" href="/buyer/list">Buyer</a>
            </li>
           
            
                <li class="main-header__item">
                    <a class="<%= path === '/accounts' ? 'active' : '' %>" href="/accounts">Accounts&Transaction</a>
                </li>
               
                
                <% } %>
            
        </ul>
       
        <ul class="main-header__item-list">
          <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                </li>
                <% } else { %>
          
                <li class="main-header__item">
                    <form action="/logout" method="post">
                         
                        <button type="submit">Logout</button>
                    </form>
                </li>
                <% } %>
        </ul>
    </nav>
</header>
     














  <main>
  
 

  <h2 >Saved Invoices</h2>

  <div class="main_invoice_data">



    <div class="invoice_data" >
       <div>
       <div class="invoice_row">
      <div class="data" id="heading_invoice">
        <h4 >Image</h4>
     </div>
        <div class="data"  id="heading_invoice">
        <h4 >Invoice Number</h4>
       </div>
       <div class="data" id="heading_invoice">
        <h4 >Invoice Amount</h4>
       </div>
       <div class="data" id="heading_invoice">
        <h4 >Issue Date</h4>
       </div>
       <div class="data" id="heading_invoice">
        <h4 >Seller Info.</h4>
       </div>
       <div class="data" id="heading_invoice">
        <h4 >Invoice Status</h4>
       </div>
       
      
       
     </div>
       
       </div>
     </div>




  <div class="invoice_data" >
     <% if(previousInvoices.length > 0 ) { %>
      <div>
     <% for ( let invoices of previousInvoices) { %>
      <div class="invoice_row">
        <div class="data">
          <% if (invoices.imageUrl) { %>
            <!-- Displaying an image -->
            <img src="/<%= invoices.imageUrl %>" alt="image" height="60" width="60">
            <a href="/view-invoice">View Invoice</a>
          <% } else if (invoices.file) { %>
            <!-- Displaying a PDF using an iframe -->
            <iframe src="<%= invoices.image %>" style="width: 60px; height: 60px;"></iframe>
          <% } %>
        </div>
        
       <div class="data">
       <h5 ><%= invoices.invoiceNumber %></h5>
      </div>
      <div class="data">
       <h5 > <%= invoices.invoiceAmount %></h5>
      </div>
      <div class="data">
       <h5 ><%= invoices.issueDate %></h5>
      </div>
      <div class="data">
        <h5 ><%= invoices.seller_email %></h5>
       </div>
      <div class="data">
        <% if (invoices.status === 0) { %>
          <!-- <span style="color: red;"> <h5 ><%= invoices.status %></h5></span> -->
          <span style="color: red;"> <h5 >Pending</h5></span>
          <% } else if (invoices.status === 1) { %>
            <span style="color: green;"><h5 >Approved</h5></span> 
          <% }  else if (invoices.status ===2) { %>
            <span style="color: purple;"><h5 >Purchased</h5></span> 
            <% } %>
       </div>
      <div class="data">
      
        <form action="/approve-invoice/<%= invoices._id %>" method="POST">
         
                     
          <button class="btn" type="submit">Approve</button>
        </form>
        
    
      </div>
      <!-- Status:
      <% if (invoices.status === 0) { %>
        <span style="color: orange;">Saved</span>
      <% } else if (invoices.status === 1) { %>
        <span style="color: green;">Approved</span>
      <% } else if (invoices.status === 2) { %>
        <span style="color: blue;">Purchased</span>
      <% } %> -->
      
    </div>
      
      </div>
      <% } %>
    </div>
    <% } else { %>
        <h1>No Products Found!</h1>
        <% } %>
      </div>

    

  
</main>

  <%- include('../includes/end.ejs') %>









