<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/nav.css">
<link rel="stylesheet" href="/css/bidform.css">

</head>
<body>
</head>
<body>

<header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item" id="bill_icon">
                    <i class="fa-regular fa-money-bill-1"></i>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
                </li>

                <% if (isAuthenticated) { %>

                  <li class="main-header__item">
                    <a class="<%= path === '/displayInvoices' ? 'active' : '' %>" href="/displayInvoices">Investor</a>
                </li>

                <li class="main-header__item">
                        <a class="<%= path === '/accounts' ? 'active' : '' %>" href="/accounts">Accounts&Transaction</a>
                 </li>

                    <% } %>
                   
                    
                
            </ul>
            <ul class="main-header__item-list">
              <% if (!isAuthenticated) { %>
                    <li class="main-header__item">
                        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="main-header__item">
                        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
                    </li>
                    <% } else { %>
              
                    <li class="main-header__item">
                        <form action="/logout" method="post">
                            
                            <button type="submit">Logout</button>
                        </form>
                    </li>
                    <% } %>
            </ul>
        </nav>
    </header>
         






<main class="main-container">
  <% if (approvedInvoices.length > 0) { %>
    <table class="invoice-table">
      <% approvedInvoices.forEach(invoice => { %>
        <p>Invoice Number: <%= invoice.invoiceNumber %></p>
        <p>Due Date: <%= invoice.dueDate %></p>
        <input type="hidden" id="invoiceId" name="invoiceId" value="<%= invoice.invoiceId %>">
      <% }); %>
    </table>

  <form action="/bid/<%= approvedInvoices[0]._id %>" method="POST" enctype="multipart/form-data">
      <input type="number" id="bidAmount" name="amount" placeholder="Enter Bid Amount">
      <label for="agreeTerms">
        <input type="checkbox" id="agreeTerms">
        I agree to the bidding terms and conditions.
      </label>
      <button type="submit">Submit Bid</button>
    </form>

  <% } else { %>
    <h3>No approved invoices found.</h3>
  <% } %>
</main>
